@import url("https://fonts.googleapis.com/css?family=Pacifico|Poppins:300,400,700|Raleway:300,400,600&display=swap");
@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");
html,
body {
  position: relative;
  height: auto;
  margin: 0;
  max-width: 2000px;
  margin: 0 auto;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: #fff; }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */ }

.overflow-wrapper {
  overflow-x: hidden;
  overflow-y: hidden; }
  @media (max-width: 992px) {
    .overflow-wrapper {
      margin-top: 100px; } }
  @media (max-width: 576px) {
    .overflow-wrapper {
      margin-top: 70px; } }

.container-fluid,
.container {
  padding-left: 0px;
  padding-right: 0px; }
  @media (max-width: 1024px) {
    .container-fluid,
    .container {
      max-width: unset; } }

@media (min-width: 768px) {
  .container-fluid,
  .container {
    padding-left: 0px;
    padding-right: 0px; } }
.standard {
  position: relative; }
  .standard.dark {
    background-color: #c31e22; }
  .standard .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0; }
    .standard .row div:not(.non-flex) {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0; }
      .standard .row div:not(.non-flex).content {
        padding: 4%; }
    .standard .row .row {
      flex-direction: row; }

a, p, li {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  position: relative;
  z-index: 1;
  line-height: 1.7em;
  max-width: 650px; }

p, p span, p a, a, ul, li {
  color: #2d2929;
  font-size: 16px; }

.dark p, .dark p span, .dark p a, .dark a, .dark ul, .dark li {
  color: #fff; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #c31e22; }

.small-title {
  text-transform: uppercase;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2d2929;
  margin-top: 0;
  margin-bottom: 20px;
  color: #5F0017;
  position: relative; }

.dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #fff; }

.preamble {
  font-size: 80px;
  font-weight: 800;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  z-index: 5; }
  @media (max-width: 1140px) {
    .preamble {
      font-size: calc(50px + 2vw); } }
  @media (max-width: 767px) {
    .preamble {
      font-size: calc(43px + 2vw); } }
  @media (max-width: 576px) {
    .preamble {
      text-align: center; } }

h1 {
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-weight: 600; }
  @media (max-width: 767px) {
    h1 {
      margin-top: 26px; } }
  @media (max-width: 1140px) {
    h1 {
      font-size: calc(25px + 1vw); } }
  @media (max-width: 767px) {
    h1 {
      font-size: calc(30px + 2vw); } }

h2 {
  margin-bottom: 20px;
  font-size: 40px; }
  @media (min-width: 768px) {
    h2 {
      margin-bottom: 40px; } }
  @media (max-width: 991px) {
    h2 {
      font-size: calc(20px + 1vw); } }
  @media (max-width: 767px) {
    h2 {
      font-size: calc(21px + 1vw); } }

h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
  font-family: "Pacifico", cursive;
  line-height: 1.6em; }

.text-uppercase {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

img {
  position: relative;
  z-index: 0; }

.responsive-img img {
  width: 100%;
  height: auto; }

.absolute-img img {
  position: absolute;
  width: 100%; }

figure {
  margin: 0; }

.media-box {
  position: relative;
  min-height: 50vh;
  width: 100%;
  overflow: hidden;
  height: 100%; }
  @media (min-width: 992px) {
    .media-box {
      min-height: 70vh; } }

.media-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%; }

svg {
  overflow: visible !important; }

.bg-img {
  height: 100%;
  min-height: 50vh;
  width: 100%;
  background-image: url("../img/placeholder.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; }
  @media (min-width: 1024px) {
    .bg-img {
      min-height: 70vh; } }
  @media (min-height: 1025px) {
    .bg-img {
      min-height: 40vh; } }

.before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20vh;
  top: 0;
  left: 0;
  z-index: 0; }

.after::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20vh;
  bottom: 0;
  left: 0;
  z-index: 0; }

.community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  @media (max-width: 1240px) {
    .community {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
      -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important; } }

.individual {
  padding: 20px;
  border-radius: 10px;
  width: 0;
  flex: 1; }
  @media (max-width: 767px) {
    .individual {
      padding: 20px; } }
  @media (min-width: 1140px) {
    .individual {
      padding: 40px; } }

.community.even .individual {
  -ms-flex-preferred-size: calc(50% - 20px);
  flex-basis: calc(50% - 20px);
  margin: 10px; }
  @media (max-width: 600px) {
    .community.even .individual {
      -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important; } }

.community.odd .individual {
  -ms-flex-preferred-size: calc(33.333% - 20px);
  flex-basis: calc(33.333% - 20px);
  margin: 10px;
  flex: 1; }
  @media (max-width: 767px) {
    .community.odd .individual {
      -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
      max-width: 70%;
      margin: 20px auto;
      padding: 20px; } }
  @media (max-width: 576px) {
    .community.odd .individual {
      max-width: 100%; } }

.content {
  align-items: flex-start; }
  .content.text-center {
    align-items: center; }
  .content ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 0px; }
    .content ul li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 10px; }
      .content ul li:last-of-type {
        margin-bottom: 0; }
    .content ul li::before {
      content: "\f00c";
      position: absolute;
      left: -20px;
      top: 0;
      font-size: 16px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900; }

.myLogo {
  fill: #5F0017;
  transform-origin: 0 0;
  position: fixed;
  top: 5px;
  left: 10px;
  height: 75px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .myLogo .logo-circle {
    fill: #f8c4d0;
    animation: move-logo 6s ease-in-out infinite;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  padding: 0;
  height: 85px;
  top: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  .navbar .container-fluid {
    align-items: flex-start;
    padding: 0; }
  .navbar .navbar-brand {
    width: 100px;
    position: relative;
    padding: 0; }
  .navbar .navbar-toggler:focus {
    box-shadow: none; }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #5F0017;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transform-origin: 50% 50%;
    margin-right: 10px; }
  .navbar .navbar-collapse {
    justify-content: flex-end; }
  @media (max-width: 992px) {
    .navbar {
      height: 60px;
      background-color: #fff; }
      .navbar .myLogo {
        top: 6px;
        max-width: unset;
        max-height: 50px; }
      .navbar .navbar-toggler {
        padding: 0;
        font-size: 30px;
        line-height: 1;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        transition: none;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center; }
      .navbar .navbar-collapse {
        margin-top: -1px;
        background-color: #fff; }
      .navbar ul.navbar-nav {
        padding: 0px 20px 20px;
        text-align: center;
        min-height: calc(100vh - 70px);
        display: flex;
        justify-content: center;
        align-items: center; }
        .navbar ul.navbar-nav .nav-item .btn {
          max-width: 160px;
          margin: 0 auto; } }

.open .navbar-toggler-icon {
  transform: rotate(-90deg); }

@media (min-width: 992px) {
  .nav--up {
    top: -100px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
    .nav--up .myLogo {
      transform: scale(0.5);
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }
      .nav--up .myLogo .logo {
        opacity: 0;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in; }

  .nav--scrolled:not(.nav--up) {
    height: 50px;
    background: #fff;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
    .nav--scrolled:not(.nav--up) ul.navbar-nav {
      padding-top: 0;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; }
    .nav--scrolled:not(.nav--up) .myLogo {
      height: 40px;
      transition: transform 0.3s ease-in;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in; } }
@keyframes move-logo {
  0% {
    transform: scale(1); }
  78% {
    transform: scale(1.15); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
/**********circle button*****************/
/**********svg*****************/
svg {
  fill: #2d2929;
  overflow: visible; }
  svg .main {
    fill: #f8c4d0;
    animation: move-one 10s ease-in-out infinite; }
  svg .feature {
    fill: #5F0017;
    animation: move-two 10s ease-in-out infinite; }
  svg .other {
    fill: #c31e22;
    animation: move-three 10s ease-in-out infinite; }
  svg path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    z-index: -1;
    transform-origin: 50% 50%; }

/**********svg*****************/
.feature-cont {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column; }
  .feature-cont .img-area {
    overflow: hidden; }
  .feature-cont .text-area {
    padding: 20px 40px;
    position: relative; }
    .feature-cont .text-area p {
      font-weight: bold;
      font-size: 20px; }
  @media (min-width: 768px) {
    .feature-cont {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); } }

/*************hero******************/
.hero {
  padding: 8% 0;
  position: relative; }
  .hero .row {
    align-items: center; }
  .hero .small-text {
    font-family: "Pacifico", cursive;
    font-size: 1.7em;
    color: #c31e22;
    letter-spacing: 2px; }
  .hero h1 {
    z-index: 1; }
    .hero h1 .handwritten {
      position: absolute;
      width: 100%;
      top: -10px;
      left: 0px;
      font-size: 180px;
      font-family: "Pacifico", cursive;
      color: #fbdfe6;
      font-weight: lighter;
      z-index: -10;
      line-height: 0; }
      @media (min-width: 1060px) {
        .hero h1 .handwritten {
          display: block;
          top: -40px;
          left: -40px; } }
  .hero .feature-cont {
    position: relative;
    background-color: #f8c4d0; }
    .hero .feature-cont p {
      color: #fff;
      margin: 20px; }
    @media (min-width: 576px) {
      .hero .feature-cont {
        background-color: #5F0017; } }
  .hero .bottle {
    text-align: center; }
    .hero .bottle img {
      max-height: 600px; }
  @media (max-width: 992px) {
    .hero {
      padding-bottom: 0;
      text-align: center; }
      .hero .hero-intro {
        align-items: center;
        padding: 0 30px; } }

#intro {
  z-index: 1;
  position: relative; }
  #intro h2, #intro p {
    color: #fff; }
  #intro .feature-cont {
    background-color: #f8c4d0; }
    #intro .feature-cont div {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      text-align: center; }
  #intro .row.inner div:last-of-type {
    padding-right: 0; }
    @media (max-width: 576px) {
      #intro .row.inner div:last-of-type {
        padding-left: 0; } }
  #intro::after {
    display: block;
    position: absolute;
    content: '';
    z-index: -1;
    background-color: #5F0017;
    width: calc(100% - 8%);
    left: 4%;
    right: 4%;
    height: 100%;
    top: 0; }
    @media (max-width: 1200px) {
      #intro::after {
        width: 100%;
        left: 0; } }
  @media (max-width: 991px) {
    #intro {
      padding: 0; }
      #intro h2 {
        text-align: center;
        padding: 0 20px; }
      #intro .row.inner {
        padding: 8% 40px; }
      #intro .container-fluid > .row {
        flex-direction: column-reverse; } }
  @media (min-width: 992px) {
    #intro {
      padding: 8% 0; }
      #intro .row.inner {
        padding: 20px 20px 0; }
      #intro h2 {
        margin: 0px 0 30px -120px; } }

/**********usp*****************/
.usp {
  padding: 8%; }
  .usp h4, .usp p {
    text-align: center;
    color: #2d2929; }
  .usp h4 {
    padding: 20px 10px 10px;
    font-weight: bold;
    font-size: 1em; }
  .usp h4 span {
    border: 1.5px solid #2d2929;
    padding: 8px; }
  .usp b {
    padding: 8px;
    border: 1.5px solid #2d2929;
    border-right: 0; }
  .usp figure {
    max-width: 200px;
    padding: 20px;
    margin: 0 auto; }
  @media (min-width: 1200px) {
    .usp p {
      padding: 0 20px; } }

.products {
  background-color: #f9f6f1;
  padding-top: 16%;
  padding-bottom: 8%;
  text-align: center; }
  .products .img-fluid {
    max-width: 70% !important; }
    @media (max-width: 767px) {
      .products .img-fluid {
        max-height: 500px; } }
  .products h2 {
    position: relative;
    padding-top: 40px;
    padding-bottom: 8%;
    z-index: 1; }
    .products h2::after {
      content: 'your style';
      position: absolute;
      top: 0;
      display: block;
      font-size: 10vw;
      font-family: "Pacifico", cursive;
      font-weight: lighter;
      color: #f8c4d0;
      z-index: -10;
      line-height: 0;
      width: 100%; }
      @media (min-width: 768px) {
        .products h2::after {
          top: -40px; } }
  .products a {
    background-color: #fff;
    overflow: hidden; }
    .products a h4 {
      line-height: 50px;
      font-weight: bold;
      font-size: 1em; }
      .products a h4 span {
        border: 1.5px solid #5F0017;
        padding: 8px 12px 8px; }
      .products a h4 b {
        padding: 8px;
        border: 1.5px solid #2d2929;
        border-right: 0; }
      .products a h4 .fas {
        padding-left: 10px; }
    .products a span, .products a b {
      transition: all .5s ease-in-out; }
    .products a:hover {
      text-decoration: none; }
      .products a:hover span, .products a:hover b {
        color: #fff;
        transition: all .5s ease-in-out;
        background-color: #c31e22;
        border-color: #f2f2f2; }

.full-img-feature .media-box {
  overflow: hidden; }
  @media (min-width: 992px) {
    .full-img-feature .media-box {
      min-height: 100vh; } }

.testimonials {
  margin-top: 100px;
  position: relative; }
  .testimonials .row {
    padding: 12% 0 4%; }
    .testimonials .row p, .testimonials .row h2 {
      color: #fff;
      z-index: 1; }
    .testimonials .row p {
      max-width: 650px;
      margin: 0 auto; }
  .testimonials::after {
    display: block;
    position: absolute;
    content: '';
    background-color: #5F0017;
    width: calc(100% - 8%);
    left: 4%;
    right: 4%;
    height: 100vh;
    top: 0; }
  @media (max-width: 768px) {
    .testimonials .text-center {
      padding: 0 60px; } }

.slider {
  position: relative; }
  .slider .wrapper {
    transform: scale(0.85);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    overflow: hidden; }
    .slider .wrapper .section {
      width: 100vw;
      min-height: 100vh;
      transition: color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: 0; }
      .slider .wrapper .section p {
        color: #fff; }
      .slider .wrapper .section.buffer {
        width: 5vw;
        background-color: transparent; }
      .slider .wrapper .section.color-one .content {
        background-color: #f8c4d0; }
        .slider .wrapper .section.color-one .content p {
          color: #2d2929; }
      .slider .wrapper .section .content {
        transition: all 0.5s ease-in-out;
        background-color: #c31e22;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px;
        height: calc(100% + 110px);
        padding: 40px;
        text-align: center;
        align-items: center;
        width: 100%; }
        .slider .wrapper .section .content .content-text {
          margin: 20px 0; }
        .slider .wrapper .section .content .responsive-img img {
          max-width: 100px; }
        .slider .wrapper .section .content.imgFeature {
          padding: 0; }
        .slider .wrapper .section .content.imgFeature {
          padding: 0; }
          .slider .wrapper .section .content.imgFeature .img-one.bg-img {
            background-image: url("../img/0007.jpg");
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover; }
          .slider .wrapper .section .content.imgFeature .img-two.bg-img {
            background-image: url("../img/0051.jpg");
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover; }
          .slider .wrapper .section .content.imgFeature .img-three.bg-img {
            background-image: url("../img/008.jpg");
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover; }
          .slider .wrapper .section .content.imgFeature .img-four.bg-img {
            background-image: url("../img/0007.jpg");
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover; }
      @media (min-width: 992px) {
        .slider .wrapper .section {
          width: 50%; } }
      @media (min-width: 1366px) {
        .slider .wrapper .section {
          width: calc(33.333% + 20px); } }

.slider.is-active .wrapper {
  margin-top: 100px;
  transform: scale(1);
  width: 100%;
  transition: all 0.3s ease-in-out;
  background: #fff; }
.slider.is-active .content {
  height: 95% !important; }

.cta {
  position: relative;
  padding: 6%; }
  .cta h2 {
    font-family: "Pacifico", cursive; }
  .cta svg {
    position: absolute;
    width: 80%;
    height: 400px;
    top: 100px;
    left: 10%;
    overflow: visible; }
    .cta svg .pink {
      fill: #c31e22;
      opacity: 0.8;
      animation: move-four 10s ease-in-out infinite;
      transform-origin: 50% 50%; }
  .cta ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 20px; }
    .cta ul i {
      color: #f8c4d0; }
    .cta ul li {
      padding-right: 40px; }
    .cta ul i:hover,
    .cta ul a:hover {
      color: #5F0017; }
  .cta .fluid {
    width: 45%;
    margin: 0 auto; }
  @media (max-width: 767px) {
    .cta .row {
      position: relative;
      text-align: center; }
      .cta .row ul {
        justify-content: center; } }
  @media (max-width: 991px) {
    .cta svg {
      max-width: 200px;
      top: 0; } }

#footer {
  padding: 4%;
  /* FOOTER STYLES GENERAL--------*/ }
  #footer .coln {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #5F0017;
    padding: 0; }
    #footer .coln p {
      font-size: 14px;
      padding: 14px 10px;
      margin: 0; }
    #footer .coln img {
      max-width: 200px;
      margin: 0 auto;
      width: 100%; }
    #footer .coln ul {
      padding-left: 0;
      margin: 16px 0;
      list-style: none; }
      #footer .coln ul li {
        padding: 10px 0; }
  #footer .coln:last-of-type ul {
    padding-left: 16px; }
  #footer .coln:last-of-type ul li {
    display: inline-block;
    padding-right: 30px; }
  #footer .coln:last-of-type .row {
    border-left: 1px solid;
    height: 100%;
    width: 100%;
    margin: 0; }
  #footer .coln:last-of-type .row div:first-of-type {
    border-bottom: 1px solid; }
  @media (max-width: 990px) {
    #footer .box-grid {
      padding: 20px; }
    #footer .coln {
      text-align: center; }
    #footer .coln:first-of-type {
      padding: 20px; } }
  @media (max-width: 767px) {
    #footer .coln {
      text-align: center; }
    #footer .coln ul li {
      width: 100%; }
    #footer .coln {
      border-top: none; }
    #footer .coln:last-of-type .row {
      border-right-width: 0;
      border-left-width: 0; } }

@keyframes move-one {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(0.7, 1) rotate(160deg); }
  35% {
    transform: scale(0.8, 1) rotate(160deg); }
  66% {
    transform: scale(0.9) rotate(-20deg); }
  86% {
    transform: scale(0.9) rotate(-20deg); }
  100% {
    transform: scale(1); } }
@keyframes move-two {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.8, 1) rotate(160deg); }
  50% {
    transform: scale(0.8, 1) rotate(160deg); }
  60% {
    transform: scale(1) rotate(-20deg); }
  80% {
    transform: scale(0.6) rotate(-20deg); }
  100% {
    transform: scale(1); } }
@keyframes move-three {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(0.9) rotate(-20deg); }
  35% {
    transform: scale(0.9) rotate(160deg); }
  66% {
    transform: scale(0.8, 1) rotate(-20deg); }
  86% {
    transform: scale(0.7, 1) rotate(160deg); }
  100% {
    transform: scale(1); } }
@keyframes move-four {
  0% {
    transform: scale(1); }
  38% {
    transform: scale(0.8, 1) rotate(160deg); }
  60% {
    transform: scale(0.9, 1) rotate(140deg); }
  78% {
    transform: scale(1.3) rotate(-20deg); }
  90% {
    transform: scale(1.1) rotate(-20deg); }
  100% {
    transform: scale(1); } }
@keyframes move-logo {
  0% {
    transform: scale(1); }
  78% {
    transform: scale(1.15); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
