
$dark:#263238;

// Typography

$header-font: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: 'Raleway', sans-serif;
$other-font:'Pacifico', cursive;


$white:#fff;
$feature:#e4000d;
$main:#f8c4d0;
$other:#c31e22;
$darkest:#5F0017;