// Import all the partial files
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins:300,400,700|Raleway:300,400,600&display=swap');
@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");

/////---------- Structure Elements
html,
body {
  position: relative;
  height: auto;
  margin: 0;
  max-width: 2000px;
  margin: 0 auto;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: $white;

}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.overflow-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  @media (max-width: 992px) {
    margin-top: 100px;
  }
  @media (max-width: 576px) {
    margin-top: 70px;
  }
}




.container-fluid,
.container {
  // max-width:unset;
  padding-left: 0px;
  padding-right: 0px;
  @media (max-width:1024px){
    max-width: unset;
  }
}

@media (min-width: 768px) {
  .container-fluid,
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.standard {
  position: relative;
  &.dark{
    background-color: $secondary-dark;
  }
  .row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin:0;
    div:not(.non-flex) {
      position: relative;
      display: flex;
      flex-direction: column;
      padding:0;
      &.content{
        padding:$sm;
      }
    }
    .row{
      flex-direction: row;
    }
  }
}




//////---------- Type Elements
a,p,li {
  font-family: $primary-font;
  font-size: 18px;
  position: relative;
  z-index: 1;
  line-height: 1.7em;
  max-width: 650px;
}

p,p span,p a,a,ul,li {
  color:$dark;
  font-size: 16px;
}

.dark {
  p, p span,  p a,  a,  ul,  li {
    color:$white;
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: $secondary;
}

.small-title {
  text-transform: uppercase;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  font-weight: 700;
  letter-spacing: 1px;
  color: $dark;
  margin-top: 0;
  margin-bottom:20px;
  color:$main-dark;
  position: relative;
}
.dark {
h2,  h3,  h4,  h5,  h6 {
    color: $white;
  }
}

.preamble {
  font-size: 80px;
  font-weight: 800;
  font-family: $header-font;
  line-height: 1.3em;
  z-index: 5;
  @media (max-width: 1140px) {
    font-size: calc(50px + 2vw);
  }
  @media (max-width: 767px) {
    font-size: calc(43px + 2vw);
  }

  @media (max-width: 576px) {
    text-align: center;
  }
}

h1 {
  // color:$contrast-two;
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  // color:$main-light;
  font-weight:600;
  @media (max-width: 767px) {
    margin-top: 26px;
  }

  @media (max-width: 1140px) {
    font-size: calc(25px + 1vw);
  }
  @media (max-width: 767px) {
    font-size: calc(30px + 2vw);
  }
}

h2 {
  margin-bottom: 20px;
  font-size: 40px;

  // font-weight:600;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media (max-width: 991px) {
    font-size: calc(20px + 1vw);
  }
  @media (max-width: 767px) {
    font-size: calc(21px + 1vw);
  }
}
h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
  font-family:$other-font;
  line-height: 1.6em;
}

.text-uppercase{font-family:$header-font;font-weight: bold;}




////---------- Image elements
img{
  position: relative; 
  z-index: 0;
}
.responsive-img img {
  width: 100%;
  height: auto;
}
.absolute-img img {
  position: absolute;
  width: 100%;
}
figure {
  margin: 0;
}

.media-box{
  position: relative;
  min-height: 50vh;
  width: 100%;
  overflow: hidden;
  height: 100%;
  @media (min-width:992px){
   min-height:70vh;
  }
} 

.media-box img {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover; 
  object-fit: cover;
  -o-object-position: 50% 50%; 
  object-position: 50% 50%;
}

svg {
  overflow: visible !important;
}

.bg-img {
  height:100%;
  min-height: 50vh;
  width:100%;
  @media (min-width: 1024px) {
    min-height: 70vh;
  }
  @media (min-height: 1025px) {
    min-height: 40vh;
  }
  @include bg-img(url("../img/placeholder.jpg"), 50%, 0);
}

////---------- Pseudo elements
.before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.after::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20vh;
  bottom: 0;
  left: 0;
  z-index: 0;
}

// //-------communities
.community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  @media (max-width: 1240px) {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}

.individual {
  padding: $xs;
  border-radius: 10px;
  width: 0;
  flex:1;
  @media (max-width: 767px) {
    padding: 20px;
  }
  @media (min-width: 1140px) {
    padding: 40px;
  }
}

.community.even .individual {
  -ms-flex-preferred-size: calc(50% - 20px);
  flex-basis: calc(50% - 20px);
  margin: 10px;
  @media (max-width: 600px) {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
  }
}

.community.odd .individual {
  -ms-flex-preferred-size: calc(33.333% - 20px);
  flex-basis: calc(33.333% - 20px);
  margin: 10px;
  flex:1;
  @media (max-width: 767px) {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    max-width: 70%;
    margin:20px auto;
    padding:20px;
  }

  @media (max-width: 576px) {
    max-width: 100%;

  }
}

.content {
  // for btns
  align-items: flex-start;
  &.text-center{align-items: center;}
  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 0px;

    li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    li::before {
      content: "\f00c";
      position: absolute;
      left: -20px;
      top: 0;
      font-size: 16px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
  }
}

// ////buttons
// a.btns{
//   margin-top:40px;
//   padding:16px 25px;
//   background-color: $dark;
//   color:$white;
//   i{margin-left:20px}
//   &:hover{
//     background-color: $main-dark;
//   }
//   &.dark{
//     background-color: $white;
//     color: $dark;
//     &:hover{
//       background-color: $main-light;
//     }
//   }
// }

// //-------LOGO AND DEFAULT ICONS

.myLogo{
  fill:$main-dark;
  transform-origin: 0 0;
  position: fixed;
  top: 5px;
  left:10px;
  height: 75px;
  @include transition;
  .logo-circle{
    fill:$main;	
    animation: move-logo 6s ease-in-out infinite;  
    @include transition;
  }
}


////-------NAVIGATION---------------/////
.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  padding: 0;
  height: 85px;
  top: 0;
  @include transition;

  .container-fluid {
    align-items: flex-start;
    padding: 0;
  }

  // logo
  .navbar-brand {
    //ADJUST ACCORDING TO FIX LOGO SIZE
    width: 100px;
    position: relative;
    padding: 0;
  }

  // hamburger
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
    .navbar-toggler-icon {
      color: $main-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height:60px;
      transform-origin: 50% 50%;
      margin-right: 10px;
    }
  }

  // hamburger down
  .navbar-collapse {
    justify-content: flex-end;
  }

  ///START MEDIA QUERIES////

  /////mobile break point - add fixed bg
  @media (max-width: 992px) {
    height: 60px;
    ///mobile navigation color
    background-color:$white;
    .myLogo{
      top:6px;
      max-width: unset;
      max-height:50px;
    }
    .navbar-toggler {
      ////hamburger button/wrapper
      padding: 0;
      font-size: 30px;
      line-height: 1;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      transition: none;
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
    }
   
    .navbar-collapse {
       ///mobile navigation dropdown menu
      margin-top: -1px;
      background-color:$white;
    }

    ul.navbar-nav {
     // dropdown nav positioning
      padding: 0px 20px 20px;
      text-align: center;
      min-height: calc(100vh - 70px);
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-item .btn {
        max-width: 160px;
        margin: 0 auto;
      }
    }
  } //end 992px media query
}///END NAVBAR



////OPEN ROTATE HAMBURGER
.open {
  ////rotate icon on open
  .navbar-toggler-icon {
    transform: rotate(-90deg);
  }
}

////-------GSAP TOGGLE SETTINGS FOR NAV--------/////
// GSAP toggle css - only works after break point
@media (min-width: 992px) {
    .nav--up {
      top: -100px;
      @include transition;
      .myLogo{
        transform:scale(.5);
        @include transition;
        .logo{
          opacity: 0;
          @include transition;
        }
      }
    }
    .nav--scrolled:not(.nav--up) {
      height:50px;
      background: $white;
      ul.navbar-nav {padding-top:0; @include transition;}
      .myLogo{
        height: 40px;
        transition: transform 0.3s ease-in;
        @include transition;
      }
      @include transition;
    }
  }

////-------navigation ends -----------------------/////
// blob keyframes
@keyframes move-logo {
	0%   { transform: scale(1) }
	78%  { transform: scale(1.15)}
	90%  { transform: scale(1.1)  }
	100%   { transform: scale(1) }
}
////-------navigation ends -----------------------/////







// images & media*****************/
////Image reveal
// .cover {
// 	width: 100%;
// 	height: 100%;
// 	position: absolute;
//   }
//   .clip-me{
// 	  background-color:$secondary-dark;
// 	  padding:0;
//   }






/**********circle button*****************/

// a.circle {
//   margin: 20px 0 20px 20px;
//   background-color: transparent;
//   i{
//     position: absolute;
//     right: -15px;
//     bottom: -30px;
//     display: flex;
//     width: 60px;
//     height: 60px;
//     -webkit-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     border-radius: 100%;
//     background-color: $main-dark;
//     color: #fff;
//     transition: all .5s ease-in-out;
//     z-index: 2;
//   }

// 	&:hover{
//     i{
//       text-decoration: none;
//       background-color: $secondary-dark !important;
//       right:-10px;
//     }
// 	}
// }





/**********svg*****************/
svg{
  fill:$dark; 
  overflow:visible;
    .main{fill:$main;  animation: move-one 10s ease-in-out infinite;}
    .feature{fill:$main-dark;  animation: move-two 10s ease-in-out infinite;}
    .other{fill:$secondary-dark;  animation: move-three 10s ease-in-out infinite;}
  
  
    path{
      position: absolute;
      top: 0;
      left: 0;
      width:100px;
      z-index: -1;
      transform-origin: 50% 50%;
    }
  }


  /**********svg*****************/
.feature-cont{
	position: relative;
	padding:0;
  display: flex;
  flex-direction: column;

	.img-area{overflow:hidden;}	
	.text-area{
		p{	
			font-weight:bold; 
			font-size:20px;
		}
		padding:20px 40px;
		position: relative;
	}


	@media (min-width:768px){
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		0 10px 10px rgba(0,0,0,0.22);
	}
}




/*************hero******************/
.hero{
	padding: $md 0;
	position: relative;
  .row{
    align-items: center;
  }
	.small-text{
		font-family:$other-font;
		font-size:1.7em;
		color:$secondary-dark;
		letter-spacing: 2px;
	}
	h1{
		z-index: 1;
		.handwritten{
			position: absolute;
      width: 100%;
			top:-10px;
			left:0px;
			font-size:180px;
			font-family:$other-font;
			color:lighten($main, 6%);
			font-weight:lighter;
			z-index: -10;
			line-height: 0;
			@media(min-width:1060px){
				display:block;
				top:-40px;				
				left:-40px
			}
		}
	}
	// .circle {
  //   color:$white;
  //   i{background-color:$secondary-dark; z-index: 15;}
  // }

	.feature-cont{
    position: relative;
		background-color: $main;
		p{color:#fff; margin: 20px;}
    @media (min-width:576px){
      background-color: $main-dark;
    }
	}

  .bottle {
    text-align: center;;
    img{max-height:600px}
  }

  @media (max-width:992px){
    padding-bottom: 0;
    text-align: center;
    .hero-intro{
      align-items: center;
      padding: 0 30px;
    }
  }

}


////////////////////////////////////////////
#intro{
  z-index: 1;
	position: relative;
	h2, p{
		color:#fff;
	}
	.feature-cont{
		background-color:$main;
		// a.circle{background-color:$secondary-dark; z-index: 10;}
		// a.circle:hover{background-color:$secondary-dark;}
    div{
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      text-align: center;

    }
	}
  .row.inner div:last-of-type{
    padding-right: 0;
    @media (max-width:576px){
      padding-left: 0;
    }
  }

	&::after{
		display: block;
		position: absolute;
		content:'';
		z-index: -1;
		background-color:$main-dark;
		
		width:calc(100% - 8%);
		left:4%;
		right:4%;
		height:100%;
		top:0;
		@media(max-width:1200px){
			width:100%;
			left:0;
		}
	}


	@media (max-width:991px){
		padding:0;
    h2{text-align: center; padding:0 20px;}
		.row.inner {padding:$md 40px}
		.container-fluid > .row{
			flex-direction: column-reverse;
		}
	}

	@media (min-width:992px){
		padding:8% 0;
		.row.inner {padding:20px 20px 0}
    h2{margin:0px 0 30px -120px}
		// .media-box{
    //   min-height:50vh
    // }
	}

}
////////////////////////////////////////////////

/**********usp*****************/
.usp{
	padding:$md;

	h4,p{
		text-align: center;
		color:$dark;
		
	}
	h4{padding:20px 10px 10px;
		font-weight: bold;
		font-size:1em
	}

	h4 span{
		border:1.5px solid $dark;
		padding:8px;
	}
	b{
		padding:8px;
		border:1.5px solid $dark;
		border-right:0;
	}

	figure{
		max-width:200px;
		padding:20px;
		margin:0 auto;

	}
	
	@media (min-width:1200px){
		p{padding:0 20px;}
	}
}


////////////////////////////////////////////////

.products{
	background-color:$main-light;
	padding-top:16%;
	padding-bottom:8%;
	text-align: center;
	.img-fluid {
		max-width:70% !important;
		@media (max-width:767px){
			max-height:500px;
		}
	}
	h2{
		position: relative;
		padding-top:40px;
		padding-bottom:8%;
		z-index: 1;
		&::after{
			content: 'your style';
			position: absolute;
			top:0;
			display: block;
			font-size:10vw;
			font-family:$other-font;
			font-weight:lighter;
			color:$main;
			z-index: -10;
			line-height: 0;
			width:100%;
			@media(min-width:768px){
				top:-40px;
			}
		}
	}
	a{		
		background-color:#fff;
		overflow:hidden;
		h4{
			line-height: 50px;
			font-weight: bold;
			font-size:1em;
			span{
				border:1.5px solid $main-dark;
				padding:8px 12px 8px;
			}
			b{
				padding:8px;
				border:1.5px solid $dark;
				border-right:0;
			}
			.fas{padding-left:10px;}
		}

		span,b{
			transition:all .5s ease-in-out;
		}
		&:hover{		
			text-decoration:none;
			span,b{
				color:#fff;
				transition:all .5s ease-in-out;
				background-color: $secondary-dark;
				border-color:#f2f2f2;
			}
		}
	}
}

////////////////////////////////////////////////
.full-img-feature{
  .media-box{
    overflow:hidden;
    @media (min-width:992px){
      min-height: 100vh;
    }
  }
}

////////////////////////////////////////////////
.testimonials{
	margin-top: 100px;
	position: relative;
	.row{
		padding:12% 0 4%;
		p,h2{color:#fff; z-index: 1;}
		p{max-width: 650px; margin: 0 auto;}
	}
	&::after{
		display: block;
		position: absolute;
		content:'';
		background-color: $main-dark;
		width:calc(100% - 8%);
		left:4%;
		right:4%;
		height:100vh;
		top:0;
	}
  @media (max-width:768px){
    .text-center{
      padding:0 60px;
    }
  }
}



.slider{
  position: relative;
  .wrapper{
  transform: scale(0.85);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-wrap: nowrap;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  .section { 
  width: 100vw;
  min-height:100vh;
  transition: color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding:0;
  p{  color:$white;}
  // &.exception{
  //   width:50vw;
  // }
  &.buffer{
    width: 5vw;
    background-color: transparent;
  }
  &.color-one .content{
    background-color: $main;
    p{color: $dark;}
  }

  .content{
  transition:all 0.5s ease-in-out;
    background-color: $secondary-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
    height: calc(100% + 110px);
    padding: 40px;
    text-align: center;
    align-items: center;
    width: 100%;

    .content-text{
    margin:20px 0;
    }
    .responsive-img img{
    max-width:100px;
    }
    &.imgFeature{
    padding:0;
    }
    &.imgFeature{
      padding:0;
      .img-one.bg-img {
        @include bg-img(url("../img/0007.jpg"), 50%, 0);
      }
      .img-two.bg-img {
        @include bg-img(url("../img/0051.jpg"), 50%, 0);
      }
      .img-three.bg-img {
        @include bg-img(url("../img/008.jpg"), 50%, 0);
      }
      .img-four.bg-img {
        @include bg-img(url("../img/0007.jpg"), 50%, 0);
      }
    }
  }  


  @media (min-width:992px){width:50%} 
  @media (min-width:1366px){width:calc(33.333% + 20px)} 

  // &:first-of-type{.content{margin-left:0;}}
  // &:last-of-type{.content{margin-right:0;}}
  }
} 
}

/////aka .slide .wrapper
.slider.is-active{

.wrapper{
  margin-top: 100px;
  // margin-top: -2px;
  transform: scale(1);
  width: 100%;
  transition: all 0.3s ease-in-out;
  background: $white;
}

.content{
  height:95% !important;
}
}
////////////////////////////////////////////

/////////////////////////////////////////////////
.cta{
  position: relative;
	padding:6%;
	h2{font-family:$other-font;}
	svg{
		position: absolute;
		width: 80%;
		height: 400px;
		top:100px;
	left: 10%;
		overflow:visible;
		.pink{
			fill:$secondary-dark; opacity: 0.8; animation: move-four 10s ease-in-out infinite;
			transform-origin: 50% 50%;
		}		
	}	
	ul{
		list-style: none;
		display: flex; 
		padding-left: 0;
		margin-top: 20px;
		
		i{color:$main;}
		li{padding-right: 40px;}
		i:hover,
		a:hover{color:$main-dark;}
	}
  .fluid{
    width:45%;
    margin:0 auto;

  }
	@media (max-width:767px){
		.row{
      position: relative;
			text-align: center;
			ul{justify-content: center;}
		}
	}
	@media (max-width:991px){
		svg{max-width:200px;top:0}
	}
}
/////////////////////////////////////////////


#footer{
  padding:4%;

  /* FOOTER STYLES GENERAL--------*/
  .coln{
    border-top:1px solid;
    border-bottom:1px solid ;
    border-color:$main-dark;
    padding:0;
    p{
       font-size: 14px; 
       padding:14px 10px ;
       margin:0
    }
    img{
      max-width:200px;
      margin:0 auto;
      width:100%;
    }
    ul{
      padding-left:0;
      margin:16px 0;
      list-style: none;
      li{
      padding:10px 0;
      }
    }
    }
    
  .coln:last-of-type{  
    ul{
    padding-left:16px;
    }
    ul li{
    display: inline-block;
    padding-right:30px;
    }
    .row{
    border-left:1px solid ;
    height:100%;
    width:100%;
    margin:0;
    }
    .row div:first-of-type{
    border-bottom:1px solid ;
    }
  }
    
    // media queries
    
    @media (max-width:990px){
        .box-grid{
      padding:20px;
      }
      .coln{
       text-align: center;     
      }
      .coln:first-of-type{
      padding:20px;
      }
    }
    
    @media (max-width:767px){
    
      .coln{
       text-align: center;
       }
    
      .coln ul li{
      width:100%;
      }
      .coln{
      border-top:none;
      }
      .coln:last-of-type .row{
      border-right-width: 0;
      border-left-width: 0;
      }
    }  
  }


  
@keyframes move-one {
	0%   { transform: scale(1); }
	20%  { transform: scale(0.7, 1) rotate(160deg); }
	35%  { transform: scale(0.8, 1)  rotate(160deg); }
	66%  { transform: scale(0.9) rotate(-20deg); }
	86%  { transform: scale(0.9)  rotate(-20deg); }
	100% { transform: scale(1) }
  }
  @keyframes move-two {
	0%   { transform: scale(1)}
	40%  { transform: scale(0.8, 1) rotate(160deg); }
	50%  { transform: scale(0.8, 1) rotate(160deg); }
	60%  { transform: scale(1) rotate(-20deg); }
	80%  { transform: scale(0.6) rotate(-20deg); }
	100% { transform: scale(1)  }
  }
  @keyframes move-three {
	0%   { transform: scale(1); }
	20%  { transform: scale(0.9)  rotate(-20deg); }
	35%  { transform: scale(0.9, )  rotate(160deg); }
	66%  { transform: scale(0.8,1) rotate(-20deg); }
	86%  {  transform: scale(0.7, 1) rotate(160deg);}
	100% { transform: scale(1) }
  }

  @keyframes move-four {
	0%   { transform: scale(1) }
	38%  { transform: scale(0.8, 1) rotate(160deg); }
	60%  { transform: scale(0.9, 1) rotate(140deg); }
	78%  { transform: scale(1.3) rotate(-20deg); }
	90%  { transform: scale(1.1) rotate(-20deg); }
	100%   { transform: scale(1) }
  }

  @keyframes move-logo {
	0%   { transform: scale(1) }
	78%  { transform: scale(1.15)}
	90%  { transform: scale(1.1)  }
	100%   { transform: scale(1) }
  }

